@page "/database"
@using BlazorApp.Models.Scale
@using BlazorApp.Services

<h3>Database</h3>
<h4>Select a Reading</h4>

@code {
    private IQueryable<ScaleDto>? scales;
    private bool isLoading = true;
    private bool isConnected = false;
    private bool showSuccessMessage = false;
    private string? currentScaleName;

    protected override async Task OnInitializedAsync()
    {
        _ = CheckApiConnectionAsync();
    }

    private MessageIntent GetMessageBarIntent()
    {
        return isLoading ? MessageIntent.Info : MessageIntent.Error;
    }

    private async Task CheckApiConnectionAsync()
    {
        try
        {
            isLoading = true;
            StateHasChanged();

            isConnected = await ApiService.CheckApiConnection();

            if (isConnected)
            {
                scales = (await ApiService.GetScalesWithAnyReadings()).AsQueryable();
            }
        }
        catch
        {
            isConnected = false;
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }
}
