@page "/settings"

<h3>Settings</h3>

    <FluentButton BackgroundColor="#1E90FF" Color="#FFFFFF">Edit</FluentButton>
    <FluentButton BackgroundColor="#DC143C" Color="#FFFFFF">Delete</FluentButton>
    <FluentButton BackgroundColor="#3CB371" Color="#FFFFFF">Create</FluentButton>

@code {

}
